# Import Liabiries

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import dataset

In [37]:
df=pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [38]:
df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   object
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), object(1)
memory usage: 200.6+ KB

(None,
             Height       Weight
 count  8555.000000  8555.000000
 mean     66.809925   165.632735
 std       3.851454    32.043922
 min      54.616858    65.780000
 25%      63.957684   139.876803
 50%      66.985923   168.521567
 75%      69.604427   190.666305
 max      80.450000   269.989698)

In [39]:
df.isnull().sum() #checking null values

Gender    0
Height    0
Weight    0
dtype: int64

# preprocessing data

In [40]:
dummy = pd.get_dummies(df.Gender) #use one-hot encoding Technique's 
dummy.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       0     1

In [41]:
final_df=pd.concat([df,dummy],axis=1) #Encoded-data add with main dataset
final_df.head()

  Gender     Height      Weight  Female  Male
0   Male  73.847017  241.893563       0     1
1   Male  68.781904  162.310473       0     1
2   Male  74.110105  212.740856       0     1
3   Male  71.730978  220.042470       0     1
4   Male  69.881796  206.349801       0     1

In [42]:
final_df=final_df.drop('Gender',axis=1) #Drop Genger column, cause Gender Columns is already Encoded 
final_df.head()

      Height      Weight  Female  Male
0  73.847017  241.893563       0     1
1  68.781904  162.310473       0     1
2  74.110105  212.740856       0     1
3  71.730978  220.042470       0     1
4  69.881796  206.349801       0     1

# Seperate Dependent and Independent variables

In [43]:
x=final_df.drop('Weight',axis=1)
x.head()

      Height  Female  Male
0  73.847017       0     1
1  68.781904       0     1
2  74.110105       0     1
3  71.730978       0     1
4  69.881796       0     1

In [44]:
y=final_df[['Height']]
y.head()

      Height
0  73.847017
1  68.781904
2  74.110105
3  71.730978
4  69.881796

# Train-Test split

In [45]:
from sklearn.model_selection import train_test_split 
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [46]:
xtrain.head()

         Height  Female  Male
5040  67.373597       1     0
1956  69.342366       0     1
1116  71.920222       0     1
3390  71.405070       0     1
1689  63.094483       0     1

In [47]:
ytrain.head()

         Height
5040  67.373597
1956  69.342366
1116  71.920222
3390  71.405070
1689  63.094483

# Apply LinearRegression model

In [48]:
from sklearn.linear_model import LinearRegression 
regressor=LinearRegression()

In [49]:
regressor.fit(xtrain,ytrain)

LinearRegression()

In [50]:
y_pred=regressor.predict(xtest)
y_pred

array([[62.79988708],
       [62.09718425],
       [74.95506499],
       ...,
       [59.12503148],
       [65.84928275],
       [66.46704142]])

In [51]:
ytest.head()

         Height
7540  62.799887
7302  62.097184
1265  74.955065
5847  58.470984
1982  66.518589

# Evaluate LR Model With (Accuracy,MAE,MSE)

In [52]:
import sklearn.metrics as sm  #Checking mean_absolute_error Values
MAE=sm.mean_absolute_error(ytest, y_pred)
print('mean_absolute_error is: ' ,MAE)

mean_absolute_error is:  0.0

In [53]:
MSE=sm.mean_squared_error(ytest, y_pred) #Checking mean_square_error Values
print('mean_squared_error is: ' ,MSE)

mean_squared_error is:  0.0

In [54]:
R2_score=sm.r2_score(ytest, y_pred) #Checking r2_score Values
print("R2 score is :", R2_score)

R2 score is : 1.0

# Apply K-NN model

In [55]:
from sklearn import neighbors
knn = neighbors.KNeighborsRegressor(n_neighbors = 5)

In [56]:
knn.fit(xtest,ytest)

KNeighborsRegressor()

In [57]:
ypred=knn.predict(xtest)
ypred

array([[62.79851378],
       [62.09635606],
       [74.98086749],
       ...,
       [59.1150473 ],
       [65.86291717],
       [66.46586703]])

In [58]:
ytest.head()

         Height
7540  62.799887
7302  62.097184
1265  74.955065
5847  58.470984
1982  66.518589

# Evaluate K-NN Model for Regression

In [59]:
import sklearn.metrics as sm  #Checking mean_absolute_error Values
MAE=sm.mean_absolute_error(ytest, ypred)
print('mean_absolute_error is: ', MAE)

mean_absolute_error is:  0.008480576377872766

In [60]:
MSE=sm.mean_squared_error(ytest, ypred)#Checking mean_square_error Values
print('mean_squared_error is: ' ,MSE)

mean_squared_error is:  0.00194497068592915

In [61]:
R2_score=sm.r2_score(ytest, ypred) #Checking r2_score Values
print("R2 score is :", R2_score)

R2 score is : 0.9998732582177067

# Evaluate K-NN Model for Classifier

In [62]:
df1=pd.read_csv('weight-height.csv')
df1.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [63]:
x=df1[['Height','Weight']]
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [64]:
y=df1[['Gender']]
y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

In [83]:
from sklearn.model_selection import train_test_split 
xtrain1,xtest1,ytrain1,ytest1=train_test_split(x,y,test_size=0.3)

In [84]:
from sklearn.neighbors import KNeighborsClassifier
knn1=KNeighborsClassifier()

In [85]:
knn1.fit(xtest1,ytest1)

C:\Users\Sanaullah\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [86]:
ypred1=knn1.predict(xtest1)
ypred1

array(['Male', 'Female', 'Female', ..., 'Male', 'Female', 'Female'],
      dtype=object)

In [87]:
ytest1.head()

      Gender
938     Male
5571  Female
6714  Female
3681    Male
3807    Male

In [88]:
knn1.score(xtest1, ytest1) ##Checking accuracy Values

0.9322165952473704

In [92]:
from sklearn.metrics import f1_score #checking f1-score
f1_score(ytest1, ypred1, average='macro')

0.9298133963893633

In [93]:
from sklearn.metrics import precision_score #checking precission_score
precision_score(ytest1, ypred1, average='macro')

0.9306058259029772

In [94]:
from sklearn.metrics import recall_score #checking Recall_score
recall_score(ytest1, ypred1, average='macro')

0.9290658058201258